<div class="conntainer-fluid mt-5 about-style" id="aboutid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">About Us</h1>
            <p class="text-center sub-heading">grow your business with us</p>
            <div class="row">
                <div class="col-md-6 col-12 hero-text">
                    <figure>
                        <img src="images/about.svg" alt="" srcset="">
                    </figure>
                </div>
                <!-- right side  -->
                <div class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column" >
                    <h1>WE ARE THE PROFESSIONAL DEVELOPER</h1>
                    <p>Welcome to <span class="bold-style">MishraTechnical</span>, Your Number One Source For All Things. We're Dedicated to Giving You The Very Best Of Work, With A Focus On [Three Characteristic, Ie: Dependable Customer Service And Uniqueness.]</p>
                    <button class="btn-style btn-primary"> Read More</button>
                </div>
            </div>
        </div>
    </div>
</div>